mixin createPostForm(userLoggedIn)
    .postFromContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="user's profile picture")
        .textareaContainer 
            textarea#postTextarea(placeholder="waht's happening")
            .buttonContainer
                button#submitPostButton(disabled="") post 

